.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: solid .2rem #000000 ;
    background-color: beige;
}
.divimag{
 width: 100%;
 height: 50%;
 overflow: hidden; 
}
.img{
    width: 90%;
    margin-left: 5%;
    height: 100%;
    
}
.text{
    font-size: 2rem;
    text-align: center;
    
}
.title,
.price {
    font-weight: 700;
}
.price {
    width: 50%;
    margin: 0 auto;
    border: solid .2rem #000000 ;
}
.boutton{
    padding: 1rem;
    border-radius: 30px;
}